{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block content %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">About This Project</h2>
                <p class="card-text">
                    A simple Flask web application made by Noe Condado-Lino for World Wide Wed Programming:
                </p>
                <ul class="list-group">
                    <li class="list-group-item">Flask Blueprint for routing</li>
                    <li class="list-group-item">SQLAlchemy for database</li>
                    <li class="list-group-item">Uses Jinja for templating</li>
                    <li class="list-group-item">Unit testing</li>
                    <li class="list-group-item">Contains Object-Oriented Programming OOP principles</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
